*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Montserrat';
}
.container-fluid{
    padding:3% 15% ;
}
#title{
    background-color: #ff4c68;
  
}
h1{
    color:rgb(247, 238, 238);
    /* font-family: 'Sacramento', cursive; */
    line-height: 1.5;
     font-size:2.5rem; 
     font-weight: 1000;
}
.nav-item{
        padding-left: 18px;
    padding-right: 18px;
}
.navbar{
    padding-bottom:4.5rem;
}
.navbar-brand{
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link{
    font-size: 1.2rem;
    font-family: Montserrat-light;
}
.download{
    margin:5% 3% 5% 0;
}
.dog{
    position: relative;
  width:60%;
  transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  
}
.icons{
    color:#ef8172;
    font-size: 3rem;
    margin-bottom:1rem;
}
.icons:hover{
    color:#ff4c68;
}
.features-para{
    color:#8f8f8f;

}
.features-heading{
    font-size: 1.5rem;
   font-weight: bolder;
}
#features{
  padding:7% 15%;
  background-color: white;
}
.features-col{
    text-align: center;
}
#testimonials{
    padding:7% 15%;
    text-align: center;
    background-color:#ef8172 ;
    color:#fff;
}
h2{
    font-size:2.6rem;
    line-height: 1.5;
    font-weight: bolder;
}
.testominial-img{
    width:20%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding:20px;
}
#press{
    background-color: #ef8172;
    padding-bottom:40px;
    text-align: center;
}
#press img{
    width:15%;
    margin:20px;
}
#pricing{
    text-align: center;
    margin:100px 0 100px 0;
}
.rolu{
    padding:3% 15%;
}
#cta{
    text-align: center;
    background-color: #ff4c68;
}
.bottom{
   padding:10% 10% 2% 10%;
    color:#fff;
    font-weight: 900;
    width:60%;
    margin:auto;
}
#footer{
    text-align: center;
    background-color: #fff;
    color: #8f8f8f;
    margin-top:70px;
}
.social-media{
    padding:20px;
    color:black;
}
.social-media:hover{
    color:#8f8f8f;
}